<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">AspNetCoreAngularNoIdentity</a>
      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target=".navbar-collapse"
              aria-label="Toggle navigation"
              [attr.aria-expanded]="isExpanded"
              (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
           [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/counter']">Counter</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/fetch-data']">Fetch data</a>
          </li>

          <li>
            <a class="nav-link text-dark" href="/bff/diagnostics">Diagnostics</a>
          </li>

          <li>
            <a class="nav-link text-dark" href="/bff/backchannerl">Backchannel</a>
          </li>
          <li>
            <a class="nav-link text-dark" href="/bff/login">Login</a>
          </li>

          <li>
            <a class="nav-link text-dark" href="/bff/logout">Logout</a>
          </li>

          <li>
            <a class="nav-link text-dark" href="/bff/user">User</a>
          </li>

          <li>
            <a class="nav-link text-dark" [routerLink]="['/user-session']">Show User Session</a>
          </li>
        </ul>
        Username:
        <span id="username"></span>
      </div>
    </div>
  </nav>
</header>

